@{
    ViewBag.Title = "Onay";
}
<div class="container">
    <br />
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Başarılı!</h4>
        <p>Makaleniz onaylandıktan sonra anasayfada görüntülünecektir.</p>
    </div>
</div>